# nixpacks.toml - Configuración Maestra
providers = ["python", "node"]

[phases.setup]
nixPkgs = ["python3", "postgresql", "nodejs"]

[phases.build]
cmds = [
    "npm install",
    "npm run build",
    "pip install -r requirements.txt",
    "python manage.py collectstatic --noinput",
    "python manage.py migrate",
    "python manage.py createsuperuser --noinput || echo 'El usuario ya existe'"
]

[start]
# OJO: Aquí incluimos el --bind para evitar el Error 502
cmd = "gunicorn core.wsgi:application --bind 0.0.0.0:$PORT"
