# nixpacks.toml
providers = ["python", "node"]

[phases.setup]
nixPkgs = ["python3", "postgresql", "nodejs"]

[phases.build]
cmds = [
    "npm install",
    "npm run build",
    "pip install -r requirements.txt",
    "python manage.py collectstatic --noinput",
    "python manage.py migrate",
    "python manage.py createsuperuser --noinput || echo 'Admin listo'"
]

[start]
cmd = "gunicorn core.wsgi:application"
